[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"
gunicorn = "*"

[dev-packages]
pytest-cov = "*"
pytest-django = "*"
flake8 = "*"
flake8-isort = "*"
radon = "*"

[requires]
python_version = "3.7"
