{% extends 'polls/base.html' %}

{% block content %}
<form method="post">
    <h2>Question</h2>
    <p class="question">「{{ question.text }}」</p>

    <h2>Choices</h2>
    {% for choice in choices %}
        <div class="choice">
            <span class="choice-text">「{{ choice.text }}」</span>
            <span class="votes" id="votes-{{ choice.pk }}">{{ choice.votes }}</span>

            {% csrf_token %}
            <button type="button" class="btn btn-outline-primary vote" id="{{ choice.pk }}">+1</button>
        </div>
    {% endfor %}
</form>
{% endblock %}

{% block extrajs %}
<script src="/static/js/polls.js"></script>
{% endblock %}
