{% extends 'polls/base.html' %}

{% block content %}
<form method="post">
    <h2>Question</h2>
    <p class="question">{{ form.as_table }}</p>

    <h2>Choices</h2>
    {{ choices.management_form }}
    <button type="button" class="btn btn-success" id="add">Add Choice</button>
    <div class="choice">
        <p>
            <label for="id_choice_set-0-text">Text:</label>
            <input type="text" name="choice_set-0-text" maxlength="200" id="id_choice_set-0-text" required>
        </p>
        <p>
            <label for="id_choice_set-1-text">Text:</label>
            <input type="text" name="choice_set-1-text" maxlength="200" id="id_choice_set-1-text" required>
        </p>
    </div>

    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block extrajs %}
<script src="/static/js/polls.js"></script>
{% endblock %}
